.kiosk_container {
	padding: 5px;
}
.kiosk_name {
	font-weight: bold;
	font-size: 22px;
	width: 100%;
}

.kiosk_stats {
	font-size: 16px;
	font-variant: small-caps
	text-align: center;
	width: 100%;
}

.kiosk_address {
	font-size: 16px;
	width: 100%;
	color: #616161;
	font-variant: small-caps;
}